.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.back-button img {
  width: 30px;
  height: auto;
  
}
.back-button{
  background-color: #fff;
  border: none;
  
}
.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Ensures spacing between logo and buttons */
  
  align-items: center;
}

.main-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: #182981;
}

.mode-toggle {
  display: flex;
  gap: 10px;
/* Pushes the element to the right */
}

.mode-button {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.mode-button.active {
  background-color: #182981;
  color: #fff;
  border-color: #182981;
}


